*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #3E3E3F;

}
#header{
    position: fixed;
    top: 0;
    width: 100%;
    background: #101010;
    height: 60px;
    display: flex;
    z-index: 1;
}
#header .head{
    margin: 0 160px;
    display: flex;
    margin: auto;

}
#header .logo-topzone{
    display: flex;
    align-items: center;
}

#header .logo-topzone img {
    width: 103px;
    height: 35px;
    line-height: 60px;
    margin-right: 10px;
    border-right: 1px solid #ccc;
}
#header .logo-topzone .premium-apple {
    text-decoration: none;
    width: 100px;
    /* height: 84px; */
    color: #fff;
    list-style-type: none;
    width: 100%;
    font-size: 32px;
}
#header .logo-topzone .premium-apple a i{
    color: #fff;
}
.head .menu{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 15px; */
}
.head .menu li{
    display: block;
    text-decoration: none;
    text-align: center; 
}
.head .menu li a{
    /* display: block;
    width: 100%; */
}
.head .menu li {
    width: 50%;
    /* height: 60px; */
    line-height: 50px;
}
.head .menu li:hover {
    cursor: pointer;
    background-color: #f1d608;
    border-radius: 5px;
    padding: 2px;
    color: #101010;
    display: block;
}
.head .menu li{
    text-decoration: none;
    list-style-type: none;
    color: #fff;
}
.search-cart{
    display: flex;
    align-items: center;
    margin-left: 15px;
    justify-content: space-between;
}   
.head .search-cart .search-ic{
    line-height: 60px;
    background: #2f3033;
    border-radius: 100%;
    padding: 10px;
    height: 40px;
    width: 40px;
    position: relative;
    cursor: pointer;
}   
.head .search-cart .search-ic:hover{
    background-color: #f1d608;
    cursor: pointer;
    color: #101010;
}
.head .search-cart .search-ic i{
    position: absolute;
    top: 33%;
    left: 33%;
    color: #fff;

}
.head .search-cart .cart-ic:hover{
    background-color: #f1d608;
    cursor: pointer;
    color: #101010;
}
.head .search-cart .cart-ic{
    line-height: 60px;
    background: #2f3033;
    border-radius: 100%;
    padding: 10px;
    height: 40px;
    width: 40px;
    position: relative;
    cursor: pointer;
    margin-left: 10px;
}
.head .search-cart .cart-ic i{
    position: absolute;
    top: 33%;
    left: 28%;
    color: #fff;
}
.clear{
    content: "";
    clear: both;
}
section{
    max-width: 1170px;
    min-width: 1024px;
    margin: auto;
    width: 100%;
    background-color: #3E3E3F;
}
section .catename{
    display: flex;
    text-decoration: none;
    height: 35px;
    margin: 100px auto 38px;
    text-align: center;
    justify-content: center;
    color: #fff;
    align-items: center;
}
section .catename i{
    font-size: 48px;
    margin-right: 10px;
}
section .catename h2{
    font-size: 45px;
}
/* slide-img */
section .img-iphone{
    max-width: 1170px;
    border-radius: 12px;
    overflow: hidden;
    margin: 38px 0;
}
section .img-iphone img{
    display: block;
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
}
/* filter - cate */
section .filter-cate{
    margin: 30px 0 40px;
}
section .filter-cate .catergory{
    display: flex;   
}
section .filter-cate .catergory li,
section .filter-cate .catergory li a{
    text-decoration: none;
    list-style-type: none;
    color: #fff;
}
section .filter-cate .catergory li{
    padding: 10px 0;
    margin: 0 32px 4px 0;
}
section .filter-cate .catergory li:hover{
    border-bottom: 1px solid #fff;
}
/*  container-product-box*/
.container-product-box{
    margin-bottom: 20px;
}
.container-product-box .list-items li{
    list-style-type: none;
}
.container-product-box .list-items li:hover{
    box-shadow: 9px 9px 16px rgb(0 0 0 / 44%), 
    -9px -9px 16px rgb(83 83 86 / 80%);
}
/*  */
.container-product-box .list-items a{
    text-decoration: none;
    
}
.container-product-box .list-items{
    display: grid;
    grid-auto-rows: minmax(min-content,max-content);
    grid-template-columns: repeat(4,minmax(0,1fr));
    column-gap: 20px;
    row-gap: 20px;
    justify-content: space-evenly;
    margin-left: -20px;
    margin-right: -20px;
}
.container-product-box .list-items li{
    list-style-type: none;
    
    text-decoration: none;
    background-color: #323232;
    border-radius: 24px;
    padding: 30px;
    height: 100%;
    width: 100%;
    
}
.container-product-box .list-items li .img-item-iphone{
    display: flex;
    width: 100%;
    margin:20px auto 10px ;
    justify-content: center;
    height: auto;
}
.container-product-box .list-items li a{
    text-align: center;
    color: #fff;
}
.container-product-box .list-items li .img-item-iphone img{
    display: block;
    max-width: 235px;
    border-radius: 24px;
    overflow: hidden;
}
.container-product-box .list-items li .options {
    margin-top: 15px;
}
.container-product-box .list-items li .options ul{
    display: flex;
    justify-content: space-around;
    height: 30px;
}
.list-items li .options ul {
    width: 100%;
    
}
.list-items li .options ul li{
    padding: 5px;
    color: #fff;
    background-color: #1C1C1D;
    border-radius: 7px;    
    margin: 5px 5px;
}
.list-items li .options ul li:hover{
    background: #1c1c1d;
    border: 1px solid #535353;
}
.container-product-box .list-items li a h3{
    margin: 10px 0;
}
.container-product-box .list-items li a .box-price strong{
    font-size: 18px;
    margin-right: 5px;
}