*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#section{
    display: block;
}
.intro-details{
    background-color: #3e3e3f;
    min-height: 805px;
    display: flex;
    height: 1000px;
}

.intro-details .center-page{
    min-width: 1180px;
    max-width: 1180px;
    margin: auto;
    /* background-color: #ccc; */
    display: flex;
    justify-content: center;
}
.center-page .slider-details-img{
    width: 550px;
    margin-right: 20px;
    position: sticky;
    top: 15px;
    padding-bottom: 110px;
    height: 600px;
    flex: 1.5;

    
}
.center-page .slider-details-img img{
    max-height: 600px;
    object-position: center;
    display: block;
    
}
.center-page .slider-details{
    height: auto;
    flex: 1.5;
    color: #fff;
    
}
.center-page .slider-details h1{
    font-size: 32px;
    color: #fff;
    margin: 10px 0;
}
.center-page .slider-details span{
    margin: 5px 0;
}
.center-page .slider-details strong{
    font-size: 30px;
}
.center-page .slider-details strong strike{
    font-size: 25px;
}
.center-page .slider-details .capacity{
    display: block;
}
.center-page .slider-details .capacity span{
    margin-bottom: 5px;
}
.center-page .slider-details .capacity ul{
    text-decoration: none;
    list-style-type: none;
    margin-left: -20px;   
    
}
.center-page .slider-details .capacity ul li{
    float: left;
    margin: 10px 20px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 4px;
}
.center-page .slider-details .capacity >ul > li:focus{
    background-color: #1C1C1D;
    cursor: pointer;
}
.center-page .slider-details .clear{
    content: "";
    display: table;
    clear: both;
}
.center-page .slider-details .capacity ul li{

}
.slider-details .content-promo{
    margin: 20px 0;
    background-color: #2F3033 ;
    color: #fff;
}
.center-page .slider-details .promotion-detail{
    margin: 5px 0;
}
.center-page .slider-details .content-promo{
    padding: 20px;
    border-radius: 15px;
}
.slider-details .content-promo ul .content-details li{
    list-style-type: none;
}
.slider-details .content-promo .content-details{
    text-align: left;
}
.slider-details .content-promo p .content-details > li > b >p{
    display: block;
    margin: 50px;
   
}
/* btn-buy */
.btn-buy{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    /* background-color: #ccc; */
    height: auto;
    text-align: center;

}
.btn-buy-muangay{
    flex: 2;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    background-color: #0071E3;
    padding: 18px 0;
    border-radius: 12px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;

    
}
.btn-buy-child{
    display: flex;
    
    
}
.btn-buy-muatragop{
    display: inline;
    flex: 1;
    background-color: #FFFFFF;
    color: #000;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 500;


}
.btn-creadit-card{
    display: inline;
    flex: 1;
    background-color: #FFFFFF;
    color: #000;
    margin-left: 10px;
    justify-content: center;
    padding: 10px 0;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 500;

}
.btn-creadit-card small{
    display: block;
}   
.policy{
    margin: 15px;
}
.policy li{
    list-style-type: none;
}
.policy li i{
    margin-right: 15px;
    margin-bottom: 5px;

}
.policy li span{
    word-wrap: break-word;
    
}

