*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #ccc !important;
}
/* Header */
#header{
    position: fixed;
    top: 0;
    width: 100%;
    background: #101010;
    height: 60px;
    display: flex;
    z-index: 1;
}
#header .head{
    margin: 0 160px;
    display: flex;
    margin: auto;

}
#header .logo-topzone{
    display: flex;
    align-items: center;
}

#header .logo-topzone img {
    width: 103px;
    height: 35px;
    line-height: 60px;
    margin-right: 10px;
    border-right: 1px solid #ccc;
}
#header .logo-topzone .premium-apple {
    text-decoration: none;
    width: 100px;
    /* height: 84px; */
    color: #fff;
    list-style-type: none;
    width: 100%;
    font-size: 32px;
}
#header .logo-topzone .premium-apple a i{
    color: #fff;
}
.head .menu{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 15px; */
}
.head .menu li{
    display: block;
    text-decoration: none;
    text-align: center; 
}
.head .menu li a{
    /* display: block;
    width: 100%; */
}
.head .menu li {
    width: 50%;
    /* height: 60px; */
    line-height: 50px;
}
.head .menu li:hover {
    cursor: pointer;
    background-color: #f1d608;
    border-radius: 5px;
    padding: 2px;
    color: #101010;
    display: block;
}
.head .menu li{
    text-decoration: none;
    list-style-type: none;
    color: #fff;
}
.search-cart{
    display: flex;
    align-items: center;
    margin-left: 15px;
    justify-content: space-between;
}   
.head .search-cart .search-ic{
    line-height: 60px;
    background: #2f3033;
    border-radius: 100%;
    padding: 10px;
    height: 40px;
    width: 40px;
    position: relative;
    cursor: pointer;
}   
.head .search-cart .search-ic:hover{
    background-color: #f1d608;
    cursor: pointer;
    color: #101010;
}
.head .search-cart .search-ic i{
    position: absolute;
    top: 33%;
    left: 33%;
    color: #fff;

}
.head .search-cart .cart-ic:hover{
    background-color: #f1d608;
    cursor: pointer;
    color: #101010;
}
.head .search-cart .cart-ic{
    line-height: 60px;
    background: #2f3033;
    border-radius: 100%;
    padding: 10px;
    height: 40px;
    width: 40px;
    position: relative;
    cursor: pointer;
    margin-left: 10px;
}
.head .search-cart .cart-ic i{
    position: absolute;
    top: 33%;
    left: 28%;
    color: #fff;
}
.clear{
    content: "";
    clear: both;
}
/* Slider */
#slider{
    width: 100%;
    height: 100%;
    top: 60px;
    display: block;
    /* height: 350px; */
    overflow: hidden;
    margin-top: 60px;
}

#slider .slider-img{
    max-width: 100%;
    height: 100%;

}

.label-slider label:hover{
    cursor: pointer;
    background-color: #fff;
    border-color: blue;
}

#slider img{
    max-width: 100%;
    max-height: 100%;
    /* object-fit: cover; */
    display: block;
}
/* container */
#container{
    /* position: absolute; */
    width: 100%;
    /* height: 2000px; */
    background-color: #3E3E3F;
}
#container .policy{
    display: flex;
    width: 100%;
    height: 141px;
    background-color: #3E3E3F;
    /* opacity: 0.7; */
    color: #fff;

}
#container .policy ul{
    width: 100%;
    display: flex;
    text-align: center;
    align-self: center;
    justify-content: space-evenly;

}

#container .policy ul li{
    list-style-type: none;
    width: calc(100% / 4);
    vertical-align: top;
    display: inline-block;
}
#container .policy ul li i{
    font-size: 1.5rem;
    box-sizing: inherit;
}
/* product */
.product{
    
    
}
.product .choose-product{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px auto 80px;
    max-width: 1400px;
    min-width: 1024px;
    text-align: center;
}
.product .choose-product li a,
.product .choose-product li{
    text-decoration: none;
    list-style-type: none;
}
.product .choose-product li{
    height: 220px;
    max-width: 300px;
    background-color: #323232;
    border-radius: 12px;
    overflow: hidden;
    align-self: center;

}
.product .choose-product .img-product-choose{
    width: 200px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product .choose-product li a img{
    width:70%;
    object-fit: cover;
    margin: auto;
}
.product .choose-product li a p{
   position: absolute;
   bottom: 5%;
   text-align: center;
   margin-left: calc(160px /2);
   color: #fff;

}  
/* box-slide */
.box-slider{
    height: 560px;
}
.box-slider .slider-iPhone{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 auto 50px;
    text-align: center;
    width: max-content;
}
.box-slider .slider-iPhone i{
    font-size: 36px;
    margin-right: 10px;
    color: #fff;
}
.box-slider .slider-iPhone .slider-iPhone-text{
    font-size: 36px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 400;
}
.box-slider .slite-cate{
    max-width: 1200px;
    min-width: 1024px;
    margin: auto;
}
.slite-cate .list-item-product{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 400px;
    column-gap: 20px;
    background-color: #3E3E3F;
    /* border-radius: 20px; */
    overflow: hidden;
}
.slite-cate .list-item-product .item-product-iPhone{
    justify-content: center;
    width: 280px;
    height: 397px;
    align-items: center;
    text-align: center;
    background-color: #323232;
    border-radius: 20px;
    color: #fff;
    overflow: hidden;
   
}
.slite-cate .list-item-product .item-product-iPhone:hover{
    cursor: pointer;
    box-shadow: -4px -4px 8px rgb(134 134 134 / 20%), 4px 4px 8px rgb(28 28 28 / 40%);
    overflow: hidden;
}
.item-product-iPhone .img-product-iPhone{
    max-width: 280px;
    max-height: 280px;
    margin-bottom: 10px;
    
}
.item-product-iPhone .heading-and-span{
    position: relative;
    padding: 10px;

}
.img-product-iPhone img{
    align-items: center;
    
}
.item-product-iPhone h3{
    

}
.item-product-iPhone .img-product-iPhone img{
    margin-top: 20px;
    width: 95%;
}
/* Slider-video */
.slide-topnews{
    max-width: 1200px;
    min-width: 1024px;
    margin: auto;
}
.slide-topnews .box-slider .tekzone-list-items{
    display: flex;
}
.slide-topnews .box-slider .tekzone-list-items{
    display: flex;
}
.slide-topnews .box-slider .tekzone-list-items .tekzone-item{
    width: 393.333px;
    margin-right: 15px;
    margin-left: 15px;


}.slide-topnews .box-slider .tekzone-list-items .tekzone-item:hover{
    cursor: pointer;
    box-shadow: -4px -4px 8px rgb(134 134 134 / 20%), 4px 4px 8px rgb(28 28 28 / 40%);
}
.slide-topnews .box-slider .tekzone-list-items .tekzone-item{
    width: 100%;
    border-radius: 14px;
    background-color: #323232;
    color: #fff;
}
.slide-topnews .box-slider .tekzone-list-items .tekzone-item img{
    display: block;
    width: 100%;
    border-radius: 14px;
}
.tekzone-item .tekzone-item-text h3{
    margin: 10px;
    padding: 10px;
}
/* footer */
#footer{
    width: 100%;
    background: #101010;
}
#footer .foot {
    width: 100%;
    max-width: 1200px;
    min-width: 1024px;
    margin: auto;
    display: block;
    padding-bottom: 10px;
    height: 500px;
}
#footer .foot .logo-foot{
    width:100%;
    padding: 30px 0;
    
}
#footer .foot .logo-foot a{
    display: inline-block;
}
#footer .foot .logo-foot a > img{    /* line-height: 40px; */
    display: block;
    width: 103px;
    height: 35px;
}
#footer .foot .logo-foot a > img {
    text-decoration: none;
    padding: 0 10px 0 0;
    border-right: 1px solid #3b3b3b;
    margin-right: 10px;
}
#footer .foot .logo-foot .premium-apple{

}
#footer .foot .logo-foot .premium-apple i{
    width: 100%;
    font-size: 32px;
    color: #fff;
    height: 35px;
}
/* list-foot */
.foot .list-foot{
    color: #fff;
    display: flex;
    margin: 0 20px;
    justify-content: space-between;
}
.foot .list-foot li {
    display: flex;
    flex-direction: column;

}
.foot .list-foot li{
    list-style-type: none;
}
.foot .list-foot li span{
    margin-bottom: 8px;
    font-weight: 700;
}
.foot .list-foot li a{
    text-decoration: none;
    list-style-type: none;
    margin: 8px 0;
    color: #fff;
}
.foot .list-foot li a:hover{
    text-decoration: underline;
}
.foot .text-cpr{
    display: flex;
    color: #fff;
    margin-top: 20px;
    justify-content: space-evenly;
}
.foot .text-cpr p{
    word-wrap: break-word;
    box-sizing: content-box;
    display: block;
}
.foot .text-cpr .certify{
    display: flex;
    text-align: center;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}
.foot .text-cpr .certify a{
    width: 127px;
    height: 47px;
    margin-left: 20px;
}
.foot .text-cpr .certify a img{
    display: block;
    width: 100%;
}
/* footer-logo */
.footer-logo{
    background-color: #222222;
    padding: 15px 15px 5px 15px;

}
.footer-logo-text{
    color: #fff;
    text-align: center;

}
.footer-logo ul{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.footer-logo ul li{
    width: 200px;
    height: 150px;
    list-style-type: none;
    margin: 0 5px;
}
.footer-logo ul li img{
    display: block;
    width: 100%;
    height: 50%;
    object-position: center;
    object-fit: cover;
}
