/* Header */
/* Slider */
/* container */
/* product */
/* box-slide */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	background-color: #ccc !important;
}
#header {
	position: fixed;
	top: 0;
	width: 100%;
	background: #101010;
	height: 60px;
	display: flex;
	z-index: 1;
	.head {
		margin: 0 160px;
		display: flex;
		margin: auto;
	}
	.logo-topzone {
		display: flex;
		align-items: center;
		img {
			width: 103px;
			height: 35px;
			line-height: 60px;
			margin-right: 10px;
			border-right: 1px solid #ccc;
		}
		.premium-apple {
			text-decoration: none;
			width: 100px;
			color: #fff;
			list-style-type: none;
			width: 100%;
			font-size: 32px;
			a {
				i {
					color: #fff;
				}
			}
		}
	}
}
.head {
	.menu {
		width: 780px;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		a {
			display: block;
			text-decoration: none;
			text-align: center;
			>li {
				display: block;
				width: 100%;
			}
			&:hover {
				li {
					cursor: pointer;
					background-color: #f1d608;
					border-radius: 5px;
					padding: 2px;
					color: #101010;
				}
			}
		}
		li {
			text-decoration: none;
			list-style-type: none;
			color: #fff;
		}
	}
	.search-cart {
		.search-ic {
			line-height: 60px;
			background: #2f3033;
			border-radius: 100%;
			padding: 10px;
			height: 40px;
			width: 40px;
			position: relative;
			cursor: pointer;
			&:hover {
				background-color: #f1d608;
				cursor: pointer;
				color: #101010;
			}
			i {
				position: absolute;
				top: 33%;
				left: 33%;
				color: #fff;
			}
		}
		.cart-ic {
			&:hover {
				background-color: #f1d608;
				cursor: pointer;
				color: #101010;
			}
			line-height: 60px;
			background: #2f3033;
			border-radius: 100%;
			padding: 10px;
			height: 40px;
			width: 40px;
			position: relative;
			cursor: pointer;
			margin-left: 10px;
			i {
				position: absolute;
				top: 33%;
				left: 28%;
				color: #fff;
			}
		}
	}
}
.search-cart {
	display: flex;
	align-items: center;
	margin-left: 15px;
	justify-content: space-between;
}
.clear {
	content: "";
	clear: both;
}
#slider {
	width: 100%;
	height: 100%;
	top: 60px;
	display: block;
	overflow: hidden;
	margin-top: 60px;
	.slider-img {
		max-width: 100%;
		height: 100%;
	}
	img {
		max-width: 100%;
		max-height: 100%;
		display: block;
	}
}
.label-slider {
	label {
		&:hover {
			cursor: pointer;
			background-color: #fff;
			border-color: blue;
		}
	}
}
#container {
	position: absolute;
	width: 100%;
	background-color: #3E3E3F;
	.policy {
		display: flex;
		width: 100%;
		height: 141px;
		background-color: #3E3E3F;
		color: #fff;
		ul {
			width: 100%;
			display: flex;
			text-align: center;
			align-self: center;
			justify-content: space-evenly;
			li {
				list-style-type: none;
				width: calc(100% / 4);
				vertical-align: top;
				display: inline-block;
				i {
					font-size: 1.5rem;
					box-sizing: inherit;
				}
			}
		}
	}
}
.product {
	.choose-product {
		position: relative;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin: 50px auto 80px;
		max-width: 1400px;
		min-width: 1024px;
		text-align: center;
		li {
			a {
				text-decoration: none;
				list-style-type: none;
				img {
					width: 70%;
					object-fit: cover;
				}
				p {
					position: absolute;
					bottom: 5%;
					text-align: center;
					margin-left: calc(160px /2);
					color: #fff;
				}
			}
			text-decoration: none;
			list-style-type: none;
			height: 220px;
			max-width: 300px;
			background-color: #323232;
			border-radius: 12px;
			overflow: hidden;
			align-self: center;
		}
		.img-product-choose {
			width: 200px;
			margin-top: 25px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
.box-slider {
	height: 560px;
	.slider-iPhone {
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		margin: 0 auto 50px;
		text-align: center;
		width: max-content;
		i {
			font-size: 36px;
			margin-right: 10px;
			color: #fff;
		}
		.slider-iPhone-text {
			font-size: 36px;
			color: #fff;
			font-family: sans-serif;
			font-weight: 400;
		}
	}
	.slite-cate {
		max-width: 1200px;
		min-width: 1024px;
		margin: auto;
	}
}
.slite-cate {
	.list-item-product {
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-template-rows: 400px;
		column-gap: 20px;
		background-color: #3E3E3F;
		overflow: hidden;
		.item-product-iPhone {
			justify-content: center;
			width: 280px;
			height: 397px;
			align-items: center;
			text-align: center;
			background-color: #323232;
			border-radius: 20px;
			color: #fff;
			overflow: hidden;
			&:hover {
				cursor: pointer;
				box-shadow: -4px -4px 8px rgb(134 134 134 / 20%), 4px 4px 8px rgb(28 28 28 / 40%);
				overflow: hidden;
			}
		}
	}
}
.item-product-iPhone {
	.img-product-iPhone {
		max-width: 280px;
		max-height: 280px;
		img {
			width: 100%;
		}
	}
	h3 {
		margin-top: 25px;
	}
}
.img-product-iPhone {
	img {
		align-items: center;
		margin-top: 1em;
	}
}
